# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/

# Environment variables
.env

# Logs
logs/
*.log
*.log.*

# OS Files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Optional npm cache
.npm

# IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.swp
